.section-details {
    display: grid;
    width: 100%; 
    height: auto;
    margin-top: 120px;
    color: antiquewhite;
}
.section-details-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: auto 1fr;
  margin: 0 20px;
}
.section-details-title {
  grid-area: 1 / 1;
  font-size: 4.0rem;
}
.movie-detail {
  position: relative;
  width: 100%;
  grid-area: 2 / 1;

}
.movie-detail img {
  max-width: 500px;
}
.details-genres {
  display: flex;
  flex-wrap: wrap;
}
.details-genres div {
  width: 100%;
}
.container-details {
grid-area: 2 / 2;
line-height: 30px;
    margin: 80px 20px;
    font-size: 2.0rem;
}

.details-trailer h3{
  margin: 50px ;
  font-size: 3.0rem;
}
.details-trailer iframe{
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 80%;

}
.section-similar-movies {
  margin-top: 50px ;
}
.section-similar-movies h3 {
  font-size: 3.0rem;
  margin: 50px ;
}
.movie-like-button {
  float: right;
  display: inherit;
  content: '❤️';
  top: 20px;
  right: 20px;
  position: absolute;
  border: none;
  background-color: #a52a2a;
  width: 46px;
  height: 46px;
  border-radius: 36px;
  z-index: 2;
  cursor: pointer;
  box-shadow: -4px 5px 10px #4a4242;
}
.movie-liked-button {
  float: right;
  display: inherit;
  content: '🤍';
  top: 20px;
  right: 20px;
  position: absolute;
  border: none;
  background-color: #dccbcb;
  width: 46px;
  height: 46px;
  border-radius: 36px;
  z-index: 2;
  cursor: pointer;
  box-shadow: -4px 5px 10px #4a4242;
}

.movie-like-button::before {
  content: '🤍';
  font-size: 2.4rem;
}

.movie-like-button-clicked {
  background-color: #C7C7C7;
  width: 36px;
  height: 36px;
  border-radius: 36px;
}

.movie-liked-button::before {
  content: '❤️';
}

@media (max-width: 900px) {
  .section-details-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto  1fr;
  
  
  }
  .container-details {
    width: auto;
    grid-column: 1;
    grid-row: 3 ;
  
  }
  .details-trailer{
    display: inline;
    grid-area: 4 / 1 ;
  
  }
  .movie-detail {
   display: grid;
   justify-content: center;
   justify-items: center;
  
  }
  .movie-detail img {
    max-width: 350px;
    /* margin-left: -10px; */
    place-self: center;
  }
  .details-genres {
    display: grid;
  }
  .movie-like-button,
  .movie-liked-button {
    position: relative;
    justify-self: center;
    padding-top: 12px;
    margin-bottom: -55px;
    margin-left: 320px;
    width: 56px;
    height: 56px;
  
  }
  .movie-like-button::before,
  .movie-liked-button::before{
    font-size: 2.4rem;
  }
}