.section-details {
    display: grid;
    width: 100%; 
    height: auto;
    margin-top: 120px;
    color: antiquewhite;
}
.section-similar-movies {
  margin-top: 50px ;
}
.section-similar-movies h3 {
  font-size: 3.0rem;
  margin: 50px ;
}

