.favorite-movies {
    padding: 16px;
    margin: 70px 28px 28px;
}
.favorite-movies h2{
    font-size: 3.0rem;;
}
.empty {
    background: transparent;
    margin: 0 auto;
    /* width: 100vw; */
    height: 100vh;
    display: grid;
    text-align: center;
}
.empty h1 {
    font-size: 3.4rem;
    color: whitesmoke;
}
button.back {
    position: relative;
    background-color: transparent;
    width: 200px;
    justify-self: center;
    padding: 8px;
    border-radius: 12px;
    margin: 20px 10px;
    cursor: pointer;
    border: 2px solid transparent;
    height: 48px;
    color: #da4b2a;
    font-size: 2.0rem;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    
}
button.back:hover {
    border: transparent;
    color: whitesmoke;
}
 button.back::before {
    content: '';
    position: absolute;
    inset: 0 8px;
    border-left: 2px solid #da4b2a;
    border-right: 2px solid #da4b2a;
    transition: 1s;
 }
 button.back::after {
    content: '';
    position: absolute;
    inset: 8px 0;
    border-top: 2px solid #da4b2a;
    border-bottom: 2px solid #da4b2a;
    transition: 1s;
 }
 button.back:hover::before{
    inset: 0 0;
    transform: rotate(-10deg);
 }
 button.back:hover::after{
    inset: 0 -4px;
    transform: rotate(5deg);
 }