.like-button {
    float: right;
    display: inherit;
    content: '❤️';
    top: 20px;
    right: 20px;
    position: absolute;
    border: none;
    background-color: #a52a2a;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    z-index: 2;
    cursor: pointer;

}
.liked-button {
    float: right;
    display: inherit;
    content: '🤍';
    top: 20px;
    right: 20px;
    position: absolute;
    border: none;
    background-color: #a52a2a;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    z-index: 2;
    cursor: pointer;

}

.like-button::before {
    content: '🤍';
    font-size: 1.4rem;
}

.like-button-clicked {
    background-color: #C7C7C7;
    width: 36px;
    height: 36px;
    border-radius: 36px;
}

.like-button-clicked::before {
    content: '❤️';
}