*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  
}
body {
  background-color: #17081b;
  font-family: 'Oswald', sans-serif;
}
h1 {
  padding: 16px;
  /* margin: 28px 28px 28px 20px; */
  color: #C7C7C7;
  font-size: 2.8rem;
}
 h2 {
  padding: 16px;
  margin: 28px 28px 28px 60px;
  color: #C7C7C7;
  font-size: 2.4rem;
}