

.favorite-movies-title  {
    display: grid;
    
}
.genres {
    display: grid;

    
}
.genres-title {
    padding: 16px 16px 16px 0;
    margin: 28px 28px 28px 0;
  
}
.genres-name {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: auto;

}
.movies-by-trends-container-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
