.not-found-container {
    padding: 16px;
    margin: 70px 28px 28px;
}
.not-found {
    background: transparent;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
}
.not-found h3 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    font-size: 2.4rem;
    color: whitesmoke;
}
.not-found-image{
    background: url('../../img/404_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 60px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
button.not-found-button {
    position: relative;
    background-color: transparent;
    width: 200px;
    justify-self: center;
    padding: 8px;
    border-radius: 12px;
    margin: 20px 10px;
    cursor: pointer;
    border: 2px solid transparent;
    height: 48px;
    color: #da4b2a;
    font-size: 2.0rem;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    
}
button.not-found-button:hover {
    border: transparent;
    color: whitesmoke;
}
 button.not-found-button::before {
    content: '';
    position: absolute;
    inset: 0 8px;
    border-left: 2px solid #da4b2a;
    border-right: 2px solid #da4b2a;
    transition: 1s;
 }
 button.not-found-button::after {
    content: '';
    position: absolute;
    inset: 8px 0;
    border-top: 2px solid #da4b2a;
    border-bottom: 2px solid #da4b2a;
    transition: 1s;
 }
 button.not-found-button:hover::before{
    inset: 0 0;
    transform: rotate(-10deg);
 }
 button.not-found-button:hover::after{
    inset: 0 -4px;
    transform: rotate(5deg);
 }